.weatherForm {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.buttonWrap,
.textWrap {
	margin-top: 20px;
	margin-bottom: 20px;
}

.homeLayout {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

@media only screen and (max-width: 500px) {
	.weatherForm {
		flex-direction: column;
		align-items: flex-start;
	}
	.textWrap,
	.textWrap p {
		margin: 0;
	}

	.buttonWrap {
		width: 100%;
	}
}
